Flask
Flask-SQLAlchemy
flask-admin
Flask-Uploads
Flask-Paginate
Flask-Login
Flask-Migrate
Flask-WTF
mysql-connector-python
gunicorn
flask
sqlalchemy
mysql
mysqlclient
pysqlite3
Flask-Login
Flask-SQLAlchemy
gunicorn
